{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page</h1>
    <a href="{% url 'add_book'  %}">Kitob qo'shish pageiga o'tish</a>

    <h2>Studentlar ro'yhati</h2>
    {% for book in books %}
        <p> {{book.title }} <br>
            Mallif :  {{book.author}}  <br>
            Yil :  {{book.year}}  <br>
            Janr :  {{book.genre}} <br>
        </p>
    {%endfor%}
</body>
</html>